<footer class="text-center text-lg-start bg-light text-muted">
  <div class="d-flex justify-content-center p-4 border-bottom">
    <div>
      <a
        href="https://www.tiktok.com/@nibblekitchen"
        target="_blank"
        class="me-4 text-reset"
        aria-label="Nibble Kitchen TikTok Page"
      >
        <i class="fa-brands fa-tiktok social-media-icon"></i>
      </a>
      <a
        href="https://www.facebook.com/nibblycakes/"
        target="_blank"
        class="me-4 text-reset"
        aria-label="Nibble Kitchen Facebook Page"
      >
        <i class="fab fa-facebook-f social-media-icon"></i>
      </a>
      <a
        href="https://twitter.com/nibblynibbles"
        target="_blank"
        class="me-4 text-reset"
        aria-label="Nibble Kitchen Twitter Page"
      >
        <i class="fab fa-twitter social-media-icon"></i>
      </a>
      <a
        href="https://www.instagram.com/nibble_kitchen/"
        target="_blank"
        class="me-4 text-reset"
        aria-label="Nibble Kitchen Instagram Page"
      >
        <i class="fab fa-instagram social-media-icon"></i>
      </a>
    </div>
  </div>

  <div class="">
    <div class="container text-center text-black text-md-start mt-4">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-5 col-xl-6 mx-auto mb-4">
          <p class="text-uppercase text-center fw-bold mb-3">
            <a href="{% url 'about' %}" class="text-reset useful-link">
              <i class="fa-solid fa-cake-candles me-3"></i>About Us
            </a>
          </p>
          <div class="text-center">
            <p>
              We are a small business based in Cramlington NE23, Northumberland.
            </p>
            <p>
              We only ship within the United Kingdom & products are shipped
              Monday to Thursday, 4 days a week.
            </p>
            <p>
              Ordering before 1pm ensures that your order can be made & shipped
              out next day.
            </p>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <p class="text-uppercase text-center fw-bold mb-3">Useful links</p>
          <div class="text-center">
            <p>
              <a href="{% url 'returns' %}" class="text-reset useful-link"
                >Refunds & Returns</a
              >
            </p>
            <p>
              <a href="{% url 'postage' %}" class="text-reset useful-link"
                >Postage & Packaging</a
              >
            </p>
            <p>
              <a href="{% url 'privacy' %}" class="text-reset useful-link"
                >Privacy Policy</a
              >
            </p>
          </div>
        </div>

        <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
          <p class="text-uppercase text-center fw-bold mb-3">Contact</p>
          <div class="text-center">
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a href="mailto:info@nibblekitchen.co.uk" class="text-reset"
                >info@nibblekitchen.co.uk</a
              >
            </p>
            <p><i class="fas fa-phone me-3"></i>07761 931791</p>
            <p><i class="fa-brands fa-whatsapp me-3"></i>07761 931791</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
