<!-- prettier-ignore -->
{% extends "base.html" %}
{% block extra_title %}
 - About Us
 {%endblock %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <!-- Image -->
    <div class="col-lg-6 text-center">
      <img
        src="{{ MEDIA_URL }}about_us_image.jpg"
        class="img-fluid about-image rounded mb-5 d-none d-lg-block"
        alt="A picture of icing being added to a cake."
      />
    </div>
    <!-- Bio -->
    <div class="col-lg-6 col-md-12 mt-4 mt-md-0 text-center">
      <h1 class="mb-5"><u>About Us</u></h1>
      {% for c in about %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">{{c.content.html|safe}} {% endfor %}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block postloadjs %}
<script type="text/javascript">
  $(document).ready(function () {
    $("blockquote:nth-of-type(1)").before("<hr>");
    $("blockquote:nth-of-type(1)").addClass("blockquote");
    $("blockquote:nth-of-type(2)").addClass("blockquote-footer");
    $("blockquote:nth-of-type(2)").after("<hr>");
	$("p a").addClass("text-reset")
  });
</script>
{% endblock %}
