<!-- prettier-ignore -->{% extends "base.html" %}
{% block extra_title %} - {{product.name}} {%endblock %}
 {% load static %}{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'contact/css/contact.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'products/css/products.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'products/css/rating.css' %}"
/>
{% endblock %}{% block page_header %} {% load mathfilters %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row gallery">
    <div class="col-xl-3 col-12 col-md-6 col-lg-4 offset-lg-2 offset-xl-3">
      <div class="image-container my-5">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top img-fluid img-thumbnail"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ product.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-xl-3 col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-5">
        <p class="mb-0">{{ product.name }}</p>
        {% if not product.in_stock %}
        <b><i class="fa-solid fa-circle-xmark"></i> Out of Stock</b>
        {% else %} {% if product.on_sale %}
        <p class="lead mb-0 text-left font-weight-bold">
          <s>£<span id="price">{{ product.price }}</span></s> £<span
            id="salePrice"
            >{{ product.sale_price }}</span
          >
          <span class="badge bg-secondary"
            >-{{product.price|sub:product.sale_price|div:product.price|mul:100|floatformat}}%</span
          >
        </p>
        {% else %}
        <p class="lead mb-0 text-left font-weight-bold">
          £<span id="price">{{ product.price }}</span>
        </p>
        {% endif %} {% endif %} {% if product.category %}
        <p class="small mt-1 mb-0">
          <a
            class="text-muted"
            href="{% url 'products' %}?category={{ product.category.name }}"
          >
            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
          </a>
        </p>
        {% endif %} {% if avg %}
        <small class="text-muted"
          ><i class="fas fa-star mr-1"></i>{{ avg }} / 5</small
        >
        {% else %}
        <small class="text-muted">No Rating</small>
        {% endif %} {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_product' product.id %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_product' product.id %}"
            >Delete</a
          >
        </small>
        {% endif %}
        <p class="mt-3">{{ product.description }}</p>
        <form
          class="form"
          action="{% url 'add_to_cart' product.id %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="form-row">
            {% with product.has_sizes as s %} {% if s %}
            <div class="col-12">
              <p><strong>Size:</strong></p>
              <select
                class="form-control rounded-0 w-50"
                name="product_size"
                id="id_product_size"
              >
                <option value="s" selected>Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
              </select>
            </div>
            {% endif %} {% if not product.in_stock %} {% else %}
            <div class="col-12">
              <p class="mt-3"><strong>Quantity:</strong></p>
              <div class="form-group w-50">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="decrement-qty btn btn-black rounded-0"
                      data-item_id="{{ product.id }}"
                      id="decrement-qty_{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                  </div>
                  <input
                    class="form-control qty_input"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    max="99"
                    data-item_id="{{ product.id }}"
                    id="id_qty_{{ product.id }}"
                  />
                  <div class="input-group-append">
                    <button
                      class="increment-qty btn btn-black rounded-0"
                      data-item_id="{{ product.id }}"
                      id="increment-qty_{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="col{% if s %}-12 mt-2{% endif %}">
              <a
                href="{% url 'products' %}"
                class="btn btn-outline-black rounded-0 mt-5"
              >
                <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
              </a>
              {% if not product.in_stock %} {% else %}
              <input
                type="submit"
                class="btn btn-black rounded-0 text-uppercase mt-5"
                value="Add to Cart"
              />
              {% endif %}
            </div>
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}"
            />
            {% endwith %}
          </div>
        </form>
      </div>
    </div>
  </div>

  <nav class="mb-5">
    <div
      class="nav nav-tabs justify-content-center"
      id="nav-tab"
      role="tablist"
    >
      <button
        class="nav-link active mx-1"
        id="nav-ingredients-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-ingredients"
        type="button"
        role="tab"
        aria-controls="nav-ingredients"
        aria-selected="true"
      >
        Ingredients
      </button>
      <button
        class="nav-link mx-1"
        id="nav-comments-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-comments"
        type="button"
        role="tab"
        aria-controls="nav-comments"
        aria-selected="false"
      >
        Customer Reviews
      </button>
      <button
        class="nav-link mx-1"
        id="nav-review-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-review"
        type="button"
        role="tab"
        aria-controls="nav-review"
        aria-selected="false"
      >
        Leave A Review
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-ingredients"
      role="tabpanel"
      aria-labelledby="nav-ingredients-tab"
    >
      <!-- prettier-ignore -->
      <div class="row">
      <div class="col-xl-6 col-12 col-md-12 col-lg-8 offset-lg-2 offset-xl-3">
        <div class="ingredient-container mb-2">
          <h2 class="logo-font text-center">Ingredients</h2>
          <hr>
          <div class="wrapper">
            {% for ingredient in ingredients %}
              {% if ingredient.is_allergen %}
                <b>{{ ingredient.friendly_name }}</b>
              {% else %}
                {{ ingredient.friendly_name }}
              {% endif %}
              {% if ingredient.has_sub_ingredient %}
                ({% for sub in ingredient.sub_ingredients.all %}
                  {% if sub.is_allergen %}
                    <b>{{sub.friendly_name}}</b>
                  {% else %}
                    {{sub.friendly_name}}
                  {% endif %}
                  {% if not forloop.last %},{% endif %}
                {% endfor %})
                {% endif %}
                {% if not forloop.last %},{%endif %}
            {% endfor %}
          </div>
        </div>
        <hr />
      </div>
    </div>

      <div class="row">
        <div class="col-xl-6 col-12 col-md-12 col-lg-8 offset-lg-2 offset-xl-3">
          <div class="wrapper mb-2">
            <h3 class="logo-font text-center">Disclaimer</h3>
            <hr />
            <p>
              We use the following allergens in our kitchen: Gluten, Eggs, Milk,
              Nuts, Peanuts, Sulphur Dioxide and Soya Lecithin.
            </p>
            <p>Allergens are shown in bold in the ingredients section above.</p>
            <p>
              All of our products are baked in a single kitchen and at the same
              time, so there may be cross contamination between products. If you
              have a specific question regarding an allergen please feel free to
              <a href="{% url 'contact' %}" class="text-reset">contact us</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-comments"
      role="tabpanel"
      aria-labelledby="nav-comments-tab"
    >
    <div class="d-flex justify-content-center">
    {% if rating %}
      <table class="mb-5 review-table">
      {% for rate in rating %}
      <tr>
          <th><img src="{% static 'img/' %}{{rate.rating}}.png" class="rating-image"> {{rate.title}}</th>
        </tr>
      <tr>
        <td><small>Comment by {{rate.author}} on {{rate.date_posted|date:"jS F Y"}}</td>
      </tr>
      <tr>
        <td class="pb-2">{{rate.content}}</td>
      </tr>
      {% if request.user.is_superuser or rate.author_id == request.user.id %}
      <tr>
        <td class="pb-2"><a class="text-danger" href="{% url 'delete_comment' rate.id %}"
            ><small>Delete</small></td>
      </tr>
      {% endif %}
      {% if forloop.last %}
      {% else %}
      <tr style="border-top: 1px solid #808080">
        <td class="pb-2"></td>
      </tr>
      {% endif %}
      {% endfor %}
      </table>
    {% else %}
    <div class="mb-5 text-center">
    <p>There aren't any reviews for this product.</p>
    <p>Be the first to <a href="#nav-review" id="review-link">leave a review!</a></p>
    </div>
    {% endif %}
    </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-review"
      role="tabpanel"
      aria-labelledby="nav-review-tab"
    >
      <div class="d-flex justify-content-center">
        {% if not request.user.is_authenticated %}
        <div class="mb-5 text-center">
          <p>You must be logged in to leave a review.</p>
          <p>
            <a href="{% url 'account_login' %}" class="text-reset">Login</a> or
            <a href="{% url 'account_signup' %}" class="text-reset">Register</a>
          </p>
        </div>
        {% else %}
          {% if already_rated %}
        <div class="mb-5 text-center">
          <p>You've already left a review for this product!</p>
          <p>View the <a href="#nav-comments" id="comments-link">comments</a>.</p>
        </div>
          {% else %}
          <form class="contact-form" method="post">
            {% csrf_token %} {{ form|crispy }}
            <div class="contact-button mb-5 ">
              <input class="btn btn-black rounded-0 text-uppercase float-right" type="submit" value="Submit" />
            </div>
          </form>
          {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% block postloadjs %} {{ block.super }}

<script type="text/javascript">
  $(document).ready(function () {
    $("label:even").addClass("half");
    $(".form-check-label").mouseover(function () {
      $(this).addClass("text-success");
      $(this).parent().prevAll().children().addClass("text-success");
    });
    $(".form-check-label").mouseout(function () {
      $(this).removeClass("text-success");
      $(this).parent().prevAll().children().removeClass("text-success");
    });
    $(".form-check-label").click(function () {
      $(this).addClass("text-warning");
      $(this).parent().prevAll().children().addClass("text-warning");
      $(this).parent().nextAll().children().removeClass("text-warning");
    });
  $('#review-link').on('click', function (e) {
    e.preventDefault()
    $('#nav-review-tab').trigger('click')
  })
  $('#comments-link').on('click', function (e) {
    e.preventDefault()
    $('#nav-comments-tab').trigger('click')
  })
  });
</script>
<!-- prettier-ignore -->
{% include 'products/includes/quantity_input_script.html' %} 
{% include 'products/includes/size_update_script.html' %} {% endblock %}
