<div
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  class="toast"
  data-bs-autohide="false"
>
  <div class="toast-header text-white toast-head-bg">
    <i class="fa-solid fa-circle-exclamation text-warning me-2"></i
    ><span class="me-auto">Alert!</span>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body toast-body-bg text-white">{{ message }}</div>
</div>
